.grid-cell {
    border: 1px solid red;
    font-size: 200%;

}

.container{
    height: 100px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'top top'
                         'left right';
}

#tangle{
  grid-area:top;
}

#submit{
  grid-area:left;
}

#papers{
  grid-area:right;
}

div{
  padding: 1.2em;
}
