.grid-cell {
    font-size: 100%;

}

.container{
    margin: auto;
    height: 100px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'top top'
                         'left right';
}

#tangle{
  grid-area:top;
}

#submit{
  grid-area:left;
}

#papers{
  grid-area:right;
}

div{
  padding: 1.2em;
  font-family: 'Roboto Condensed', sans-serif;
}
